<p id="notice"><%= notice %></p>
<%= image_tag @note.image.url(:medium) %>
<p>
  <strong>Text:</strong>
  <%= @note.text %>
</p>

<p>
	<strong>Note:</strong>
	<%= @notecollection.notes.map {|n| n.text}.join(', ') %>
</p>

<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notes_path %>
